div:empty {
    display: block !important;
  }
  .main-container {
    display: flex;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    font-family: Quatro Slab !important;
  }
  .product-img-container {
    width: 65%;
    display: flex;
    justify-content: center;
  }

  .component-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .component {
    width: 100%;

  }

  .price-next-prev-container {
    display: flex;
    justify-content: space-between;
    margin-top:15px;

  }

  .component:not(:first-child) {
    display: none;
  }

  .prod-img{
    width:90%;
  }
/*------------------------  ----------------------- VARIANTS STYLES -START- -------------------------------------*/
  .variant {
    padding: 0;
    display: flex;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: #D9D9D92B;
    margin: 10px 0;
    border-radius: 10px;
    /* Adjust border-radius for rounded corners   */
    cursor: pointer;
    border:1px solid #f0e6e0;

  }

  .variant:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border:1px solid #053061;
  }


  .variant-title {
    font-weight: bold;
    font-size: 15px;
  }


  .variant-picker {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: auto;
    text-align: left;

  }
  .left-view {
    width: 50px;
    height: 100%;
    margin-right: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .component-heading{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 800;
    
  }

  .variant-btn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  } 

  .variant-btn{
    box-sizing: border-box;
    color:white;
    background:black;
    padding:10px 15px;
    border-radius:20px;
    border:none;
    cursor:pointer;

  }

  .variant-btn:after{
  box-shadow:none !important;
}

.variant-btn:hover{
    color:black;
    background:white;
    border: 1px solid;
    transition: 1s ease;

}
  

  /*----------------------------------------------- VARIANTS STYLES --START --------------------------------*/

/*----------------------------------- Next and Back button styles --start-- ----------------------------------*/

.button-text {
    z-index: 1;
    text-align: center;
  }
.next-btn{
    border:none;
    padding: 10px 3rem !important;
    border-radius: 5px;
    box-sizing: border-box;
    cursor:pointer;
    color:white;
    background:black;
}

.back-btn{
    border:none;
    padding: 10px 3rem !important;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:white;
    color:black;
    cursor:pointer;

   
}


.next-btn:after{
  box-shadow:none !important;
}
/*------------------------------- Next and Back button styles --start-- - ------------------------------------*/

/*---------------------------------- background color variant picker --start-- -------------------------------*/


  .light-color {
    background-color: #f0e6e0;
  }
  .dark-color {
    background-color: #053061;
  }

/*---------------------------------------- background color variant picker --end------------------------------*/
  

/*----------------------------------- styels for mobile de vices --start-- ------------------------------*/

@media only screen and (max-width: 767px) {
  .main-container{
    flex-direction:column;
    align-items:center;
  }

  .product-img-container{
    min-width:100%;
  }

  .component-container{
    margin-top:25px;
    width:100%;
  }

  .component{
    width:90%;
    text-align:center;
  }

  .prod-img{
    width:90%;
  }
  .price-next-prev-container{
    flex-direction:column;
    
  }

  .next-prev-btn{
    display:flex;
    justify-content:space-between;
    margin-top:1.5rem;
  }
  .variant-btn-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
  } 
}

/*----------------------------------- styels for mobile devices --start-- ------------------------------*/